/* HEADER  */

.header__menu {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__logo {
    width: 137px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
}



/* MAIN  */

/* COVER  */

.cover {
    position: relative;
    min-height: 757px;
    margin-bottom: 180px;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;

}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);

}

.cover__title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 107px;
    color: #fff;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.cover__title .aligned-text_center {
    align-self: center;
    margin-left: 0.3em;
}

.cover__title .aligned-text_right {
    align-self: flex-end;
    margin-right: -0.3em;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    word-spacing: 0.87em;
}

.bet-button {
    position: relative;
    z-index: 2;
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

/* LOTS  */

.lots {
    margin: 0 24px 120px 24px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots .lots__card-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 596px;
    padding: 48px 40px;
    background-position: center;
    background-size: cover;
}

.card__title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: Bold;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    margin-left: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* ABOUT  */

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    min-height: 595px;
    margin: 0 24px 180px 24px;
    padding-top: 35px;
}

.about__column {}

.column-left {
    justify-items: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.column-right {
    display: flex;
    flex-direction: column;
}

.about__title-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* FOOTER  */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 180px;
    padding: 0 50px;
}

.address.footer__adress {
    justify-self: start;
    max-width: 265px;
}

.footer__menu {
    justify-self: center;
    text-align: center;
}

.footer__menu-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.link--active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}